body {
    color: #5a5a5a;
    font-family: monospace;
}

header {
    color: brown;
    font-size: 48px;
    text-align: center;
}

.orange {
    color: orange;
}

h2 {
    color: orangered;
}

#foot1 {
    text-align: center;
    font-style: italic;
}